cn2an==0.5.22
einops==0.7.0
ffmpeg_python==0.2.0
g2p_en==2.1.0
gradio==4.28.0
gruut==2.3.4
jieba_fast==0.53
LangSegment==0.3.3
LangSegment==0.3.3
librosa==0.9.1
matplotlib==3.7.1
modelscope==1.10.0
numpy==1.25.2
onnxruntime==1.17.1
pandas==1.5.3
pyopenjtalk==0.3.3
pypinyin==0.51.0
PyQt5==5.15.10
pytorch_lightning==2.2.2
PyYAML==6.0.1
PyYAML==6.0.1
regex==2022.7.9
Requests==2.31.0
scipy==1.13.0
SoundFile==0.10.3.post1
streamlit==1.24.0
tools==0.1.9
torch==2.0.0+cu117
torch==2.0.0
torchaudio==2.0.1+cu117
torchmetrics==1.3.2
tqdm==4.66.2
transformers==4.36.2
typeguard==4.2.1
uvicorn==0.29.0
whisper==1.1.10
~orch==2.0.1
